.git
.github
.idea
.gradle
.kotlin
.intellijPlatform
_polygon
**/build
*.iml
*.ipr
*.iws
*.log
token.bin
ru-bizgen-perf
ru-bizgen-archunit
ru-bizgen-plugin/src/integrationTest
ru-bizgen-plugin/src/test
ru-bizgen-core/src/test
ru-bizgen-mcp/src/test
